@font-face {
  font-family: "BodoniModa";
  src: url(../fonts/BodoniModa_9pt-Black.ttf);
}

:root {
  --gold: #ccaf6b;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "BodoniModa", serif;
  font-size: 18px;
  letter-spacing: 2px;
}

a {
  transition: all 0.4s ease;
  color: var(--gold);
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
h2 {
  font-size: 38px;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 40px 40px;
}

.header {
  padding: 0 40px;
  height: 70px;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  background-color: #000;
}

.input-container {
  width: 260px;
  position: relative;
  display: flex;
}

.search {
  padding-right: 150px;
  padding-bottom: 10px;
}

.form_input {
  border: none;
  background-color: #000;
  border-bottom: 1px solid #fff;
  width: 200px;
  padding: 5px 10px;
  padding-right: 20px;
}
.form_input::placeholder {
  color: #000;
}
.form_input:focus {
  all: unset;
  border: none;
  background-color: #000;
  width: 200px;
  padding: 5px 10px;
  border-bottom: 1px solid #fff;
  letter-spacing: 2px;
}
.form_input,
textarea {
  color: #fff;
}
.forsearch {
  position: relative;
  /* width: 50px;
  height: 50px; */
}
.btnforsearch {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #c0b3b3;
  background: url("../../img/search.png");
  background-size: 30px;
  border: none;
  width: 30px;
  height: 30px;
}

.search-popup {
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  z-index: 1000;
  padding: 10px;
  margin-right: 20px;
  margin-top: 30px;
}
.form_input {
  padding: 5px;
  flex: 1;
}
/* list */

.rev-head {
  font-size: 27px;
  text-align: center;
  padding-bottom: 40px;
}
.sidebar {
  min-width: 260px;
  margin-right: 80px;
}
.sidebar h4 {
  font-weight: 600;
}
.price-head {
  margin-bottom: 15px;
}
input[type="number"] {
  width: 120px;
  border: none;
  background-color: #000;
  padding-left: 20px;
  padding-bottom: 5px;
  color: #fff;
  outline: none;
  border-bottom: 2px solid #fff;
  transition: border-color 0.3s;
  /* -moz-appearance: textfield; */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.category-head {
  margin-top: 40px;
  margin-bottom: 15px;
}
.category-option {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
}
.category-option input[type="checkbox"] {
  display: none;
}
.category-option label {
  position: relative;
  padding-left: 30px;
  padding-top: 3px;
  cursor: pointer;
  color: #fff;
}
.category-option label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 3px;
}
.category-option input[type="checkbox"]:checked + label::before {
  background-color: #fff;
}
.category-name {
  width: 200px;
}
.category-len {
  padding-left: 40px;
}
.size-head {
  margin-top: 40px;
  margin-bottom: 15px;
}

.card-container {
  gap: 30px;
}

.card {
  width: 240px;
  height: 460px;
  background-color: #000;
  color: #fff;
}
.card img {
  width: 240px;
  height: 350px;
}
.card-info {
  padding-top: 20px;
}
/* detail */

.detail-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 30%;
  max-height: 800px;
}

.image-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.prev-btn,
.next-btn {
  background-color: #c0b3b3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
}

.detail-description {
  margin-left: 30px;
}
.item-desc {
  font-size: 22px;
  max-width: 700px;
  margin-top: 30px;
  margin-left: 30px;
}

.sizes-list {
  padding: 0;
}

.size-name {
  width: 60px;
  height: 40px;
  background-color: #000;
  border: 1px solid #323232;
  transition: all 0.3s ease;
  color: #fff;
}

.detail-price {
  font-size: 24px;
}

.default-btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.4s ease;
}
.default-btn:hover {
  opacity: 0.7;
}
.detail-selected {
  border: 1px solid #fff;
}
.card-on-catalog {
  color: #fff;
}
/* cart_detail */

.table-head {
  border-bottom: 1px solid #fff;
}
.table-p {
  background-color: #000;
  color: #fff;
  text-align: right;
}
.c-item-img img {
  width: 70px;
  height: 100px;
}
.cart-item {
  border-bottom: 1px solid #fff;
  padding: 40px 0 40px 20px;
}
.c-item-total,
.c-item-quantity,
.c-item-price {
  width: 120px;
}
.right-side-items {
  text-align: right;
}
.c-quantity-form input {
  width: 70px;
  border-bottom: 1px solid #fff;
  height: 35px;
  color: #fff;
}
