{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% comment %}bootstrap{% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" /> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}" />
  </head>
  <body>
    <header class="header sticky-top d-flex align-items-center">
      <div class="header-logo">
        <img src="{% static 'main/img/rev.png' %}" alt="" width="60" style="border-radius: 50%; border: solid 2px #000;" />
        <span>SSY</span>
      </div>
      {% comment %} <div class="search">
        <form class="search_form" action="" id="search-form" style="display: none;"></form>
        <input type="text" name="q" class="form_input" placeholder="Search" />
        <button type="submit" class="btnforsearch">submit</button>
      </div> {% endcomment %}
      <div class="header-nav d-flex gap-4">
        <a class="h-profile" href="#"><img src="{% static 'main/img/profile.png' %}" alt="" width="30" style="border-radius: 50%; margin-top: 40px;" /></a>
        <a class="h-profile" href="#"><img src="{% static 'main/img/shop.png' %}" width="30" style="margin-top: 40px;" alt="" /></a>
        <div class="forsearch">
          <a class="toggle-search" id="toggle-search" href="#"><img src="{% static 'main/img/search.png' %}" width="30" style="margin-top: 40px;" alt="" /></a>
          <div class="search-popup" id="search-popup" style="display: none;">
            <form action="" class="search-form" method="GET" id="search-form">
              <div class="input-container">
                <input type="text" class="form_input" name="q" placeholder="Search" />
                <button type="submit" class="btnforsearch"></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <script>
      document.getElementById('toggle-search').addEventListener('click', function (event) {
        event.preventDefault()
        const searchPopup = document.getElementById('search-popup')
        if (searchPopup.style.display === 'none' || searchPopup.style.display === '') {
          searchPopup.style.display = 'block'
        } else {
          searchPopup.style.display = 'none'
        }
      })
    </script>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
